.itemCont{
    float:left;
    margin-left: 13%;
    margin-right: 17%;
    margin-top: 3%;
    width: 70%;
    margin-bottom: 20%;
    
}

.CushItem{
    float:left;
    margin-left:2%;
    width: 30.33%;
    overflow: scroll;
    border: 1px solid lightgray;
    font-family: 'Source Code Pro', monospace;
    height: 45vw;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.CushItem::-webkit-scrollbar{
    display:none;
}

.CushItem:hover{
    border: 1px solid black;
}

.imagewrapper{
    width:90%;
    padding-left:5%;
    padding-top:3%;
    padding-bottom: 3%;
    
    height: 25.3vw;
    overflow: hidden;
}

.imagewrapper img{
    width:100%;
    position: relative;
}

.imagewrapper p{
    position: relative;
    z-index:10;
    font-size: 0.9vw;
    top: -25.5vw;
    bottom: 0;
    padding-left: 1%;
    padding-right: 5%;
    background: rgba(211, 211, 211, 0.85);
    color: black;
    visibility: hidden;
    opacity: 0;
    width: 95%;
    height: 100%;
    
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

@media only screen and (max-width: 600px){
    .imagewrapper p{
        position: relative;
        z-index:10;
        font-size: 0.9vw;
        top: -27.3vw;
        bottom: 0;
        padding-left: 1%;
        padding-right: 5%;
        background: rgba(211, 211, 211, 0.85);
        color: black;
        visibility: hidden;
        opacity: 0;
        width: 95%;
        height: 110%;
      
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }
}

.imagewrapper:hover p{
    visibility: visible;
    opacity: 1;
}

.top {
    border-top: 1px solid black;
    padding-top:2%;
}

.CushItem h2{
    text-align: center;
    font-size: 1vw;
    border-bottom: 1px solid black;
}
.CushItem p{
    font-size: 0.8vw;
    
}

.price{
    margin-left: 2%;
}

.CushItem a{
    display: block;
    width:auto;
    background-color: #d3a3e4;
    text-decoration: none;
    color:black;
    margin-left:2%;
    width: 40%;
    overflow: hidden;
    margin-top: 3%;
    text-align: center;
    height: 1.6vw;
    font-size: 1vw;
    text-transform: uppercase;
    line-height: 1.6vw;
    margin-bottom: 1%;
    border: 1px solid #d3a3e4;
    
}

.CushItem a:hover{
    border: 1px solid black;
}

.CushItem button{
    display: block;
    width:auto;
    background-color: lightskyblue;
    text-decoration: none;
    color:black;
    margin-left:2%;
    width: 40%;
    overflow: hidden;
    margin-top: 3%;
    text-align: center;
    height: 1.6vw;
    font-size: 0.8vw;
    text-transform: uppercase;
    line-height: 1.6vw;
    margin-bottom: 1%;
    border: 1px solid lightskyblue;
}

.CushItem button:hover{
    border: 1px solid black;
}