.error{
    float: left;
    margin-top: 10%;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}

.error h1{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 2vw;
}

.error p{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 1vw;
    margin-top:2%;
    margin-left:20%;
    margin-right: 20%;
}

.error img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
}