.featuredCon{
    float: left;
    display:block;
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
    margin-bottom: 18%;
}

.featItem {
    border: 1px solid lightgray;
    width:100%;
    height: 100%;
    overflow: hidden;
    
}
.featItem:hover{
    border: 1px solid black;
}

.featuredCon h1{
    font-size: 1.8vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin-bottom:3%;
    text-align: center;
}

.featuredCon table{
    width: 100%;
    font-family: 'Source Code Pro', monospace;
}

.featuredCon img{
    height: 30vw;
    max-width: 80%;
    float: left;
    padding-left:10%;
    padding-top:3%;
    padding-bottom: 3%;
    transition: all 0.5s;
    
}

.featuredCon img:hover{
    transform: scale(1.1);
}

.featuredCon a{
    margin-top: 3%;
    width: 100%;
    float: left;
    padding-left:2%;
    padding-right:2%;
}
.featuredCon p{
    margin-top: 3%;
    float: left;
    padding-left:2%;
    padding-right:2%;
    
}
.featuredCon td{
    width: 50%;
    height: 11vw;
    padding-left:5%;
    padding-right:5%;
    vertical-align: top;
    font-size: 0.8vw;
}

.featuredCon h2{
    text-align: center;
    font-size: 1vw;
    border-bottom: 1px solid black;
}

.topBord{
    border-top: 1px solid black;
}

.featuredCon a{
    display: block;
    width:auto;
    text-decoration: none;
    color:black;
    margin-left:2%;
    width: 51%;
    overflow: hidden;
    margin-top: 3%;
    text-align: center;
    height: 1.6vw;
    font-size: 1vw;
    text-transform: uppercase;
    line-height: 1.6vw;
    margin-bottom: 1%;
    
}

.featuredCon a:hover{
    border: 1px solid black;
}

.blue{
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
}

.purple{
    border: 1px solid #d3a3e4;
    background-color: #d3a3e4;
}