
.Heading{
    position: fixed;
    display: block;
    width: 100%;
    height: 8vw;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 100;
}

.Heading a {
    margin-top: 6vw;
    line-height: 2vw;
    display: block;
    width: 15%;
    height: 2vw;
    float:left;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 0.9vw;
}

.Heading a:hover{
    background-color: #e9e9e4;
}
.Heading img{
    display: block;
    float:left;
    height: auto;
    width: auto;
    max-height: 100%;
    object-fit: contain;
}

.MLeft {
    margin-left: 2%;
}

.BLeft {
    border-left: 1px solid lightgray;
}
.instaLink{
    margin-top: 3.3vw;
}

.instaLink img{
    display: block;
    height: auto;
    width: auto;
    max-height: 2.3vw;
    object-fit: contain;

}

.instaLink a{
    display: block;
    height: auto;
    width: auto;
    max-height: 2.5vw;
    object-fit: contain;
    float: right;
    margin-left:1%;
    margin-top: 0.5%;
}

.instaLink a:hover{
    background-color: white;
}
.instaLink p{
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-size: 0.7vw;
    margin-left: 94%;
}
.MRight {
    margin-right: 5%;
}

.small a{
    width: 3%;
    font-size: 0.7vw;
    
}