.desc {
    float:left;
    margin-top: 2%;
    display: block;
    margin-left: 15%;
    margin-right: 19%;
    font-family: 'Source Code Pro', monospace;
}

.desc h1{
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.desc p{
    font-size: 0.93vw;
}