.printCont{
    float:left;
    margin-left: 13%;
    margin-right: 17%;
    margin-top: 10%;
    width: 70%;
    margin-bottom: 20%;
    
}

.printItem{
    float:left;
    margin-left:2%;
    width: 30.33%;
    overflow: hidden;
    border: 1px solid lightgray;
    font-family: 'Source Code Pro', monospace;
    margin-bottom:2%;
    min-height: 44vw;
    max-height: 44vw;
}

.printItem:hover{
    border: 1px solid black;
}

.printItem img{
    width:80%;
    padding-left:10%;
    padding-top:3%;
    padding-bottom: 3%;
}

.printItem p{
    font-size: 0.8vw;
    padding-left:2%;
    padding-right:2%;

}

.top {
    border-top: 1px solid black;
    padding-top:2%;
}

.printItem h2{
    text-align: center;
    font-size: 1vw;
    border-bottom: 1px solid black;
    height: 3vw;
}

.printItem a{
    display: block;
    width:auto;
    background-color: #d3a3e4;
    text-decoration: none;
    color:black;
    margin-left:2%;
    width: 40%;
    overflow: hidden;
    margin-top: 3%;
    text-align: center;
    height: 1.6vw;
    font-size: 1vw;
    text-transform: uppercase;
    line-height: 1.6vw;
    margin-bottom: 1%;
    border: 1px solid #d3a3e4;
}

.printItem a:hover{
    border: 1px solid black;
}